scopeName: 'text.tasklist'
name: 'Tasklist'
fileTypes: ['tasklist', 'todo']
limitLineLength: false
patterns: [
  {
    match: '^ *(▷) *(.*?) *$'
    captures:
      1: name: 'tick.high.task.tasklist'
      2:
        name: 'text.high.task.tasklist'
        patterns: [{ include: '#text' }]
  }
  {
    match: '^ *(☐) *(.*?) *$'
    captures:
      1: name: 'tick.todo.task.tasklist'
      2:
        name: 'text.todo.task.tasklist'
        patterns: [{ include: '#text' }]
  }
  {
    match: '^ *(✔) *(.*?) *$'
    captures:
      1: name: 'tick.done.task.tasklist'
      2: name: 'text.done.task.tasklist'
  }
  {
    match: '^ *(✘) *(.*?) *$'
    captures:
      1: name: 'tick.fail.task.tasklist'
      2: name: 'text.fail.task.tasklist'
  }
  {
    match: '^ *(•) *(.*?) *$'
    captures:
      1: name: 'tick.info.task.tasklist'
      2:
        name: 'text.info.task.tasklist'
        patterns: [{ include: '#text' }]
  }
  {
    match: '^(#+) +(.+?) *$'
    captures:
      1: name: 'symbol.chapter.tasklist'
      2:
        name: 'text.chapter.tasklist'
        patterns: [{ include: '#text' }]
  }
  {
    match: '^ *(.+?) *(:) *$'
    captures:
      1:
        name: 'text.header.tasklist'
        patterns: [{ include: '#text' }]
      2: name: 'symbol.header.tasklist'
  }
  { include: '#text' }
]
repository:
  text: {
    patterns: [
      { include: '#strikeFormat' }
      { include: '#boldFormat' }
      { include: '#italicFormat' }
      { include: '#mathFormat' }
      { include: '#rawFormat' }
    ]
  }
  strikeFormat: {
    match: '(?<!\\w)~(\\S{,2}|\\S.+?\\S)~(?!\\w)'
    name: 'format.strike.tasklist'
  }
  boldFormat: {
    match: '(?<!\\w)\\*(\\S{,2}|\\S.+?\\S)\\*(?!\\w)'
    name: 'format.bold.tasklist'
  }
  italicFormat: {
    match: '(?<!\\w)_(\\S{,2}|\\S.+?\\S)_(?!\\w)'
    name: 'format.italic.tasklist'
  }
  mathFormat: {
    match: '(?<!\\w)\\$(\\S{,2}|\\S.+?\\S)\\$(?!\\w)'
    name: 'format.math.tasklist'
  }
  rawFormat: {
    match: '(?<!\\w)`(\\S{,2}|\\S.+?\\S)`(?!\\w)'
    name: 'format.raw.tasklist'
  }
