scopeName: 'text.tasklist'
name: 'Tasklist'
fileTypes: ['tasklist', 'todo']
injectionSelector: 'source.embedded.tasklist'
limitLineLength: false
patterns: [
  {
    match: '^ *(▷) *(.*?) *$'
    captures:
      1: name: 'tick.high.tasklist'
      2:
        name: 'text.high.tasklist'
        patterns: [{ include: '#text' }]
  }
  {
    match: '^ *(☐) *(.*?) *$'
    captures:
      1: name: 'tick.todo.tasklist'
      2:
        name: 'text.todo.tasklist'
        patterns: [{ include: '#text' }]
  }
  {
    match: '^ *(✔) *(.*?) *$'
    captures:
      1: name: 'tick.done.tasklist'
      2: name: 'text.done.tasklist'
  }
  {
    match: '^ *(✘) *(.*?) *$'
    captures:
      1: name: 'tick.fail.tasklist'
      2: name: 'text.fail.tasklist'
  }
  {
    match: '^(#+) (.+)$'
    captures:
      1: name: 'symbol.chapter.tasklist'
      2:
        name: 'text.chapter.tasklist'
        patterns: [{ include: '#text' }]
  }
  {
    match: '^(.+)(:)$'
    captures:
      1:
        name: 'text.header.tasklist'
        patterns: [{ include: '#text' }]
      2: name: 'symbol.header.tasklist'
  }
  { include: '#text' }
]
repository:
  text: {
    patterns: [
      { include: '#strikeFormat' }
      { include: '#boldFormat' }
      { include: '#italicFormat' }
      { include: '#mathFormat' }
      { include: '#rawFormat' }
    ]
  }
  strikeFormat: {
    match: '~.+?~'
    name: 'format.strike.tasklist'
  }
  boldFormat: {
    match: '\\*.+?\\*'
    name: 'format.bold.tasklist'
  }
  italicFormat: {
    match: '_.+?_'
    name: 'format.italic.tasklist'
  }
  mathFormat: {
    match: '\\$.+?\\$'
    name: 'format.math.tasklist'
  }
  rawFormat: {
    match: '`.+?`'
    name: 'format.raw.tasklist'
  }
