@import "syntax-variables";

.syntax--tasklist {
  &.syntax--chapter {
    color: @syntax-color-tag;
  }
  &.syntax--header {
    color: @syntax-color-class;
  }
  &.syntax--markup {
    &.syntax--pass {
      color: @text-color-subtle;
      text-decoration: line-through;
    }
    &.syntax--info {
      color: @syntax-color-attribute;
    }
    &.syntax--math {
      color: @syntax-color-function;
    }
    &.syntax--code {
      color: @syntax-color-snippet;
    }
  }
  &.syntax--todo {
    &.syntax--tick { color: @text-color-info }
    &.syntax--text { }
  }
  &.syntax--done {
    &.syntax--tick { color: @text-color-success }
    &.syntax--text { color: @text-color-subtle }
  }
  &.syntax--fail {
    &.syntax--tick { color: @text-color-error }
    &.syntax--text { color: @text-color-subtle }
  }
}
