@import "syntax-variables";

.syntax--tasklist {
  &.syntax--chapter {
    color: @syntax-color-tag;
  }
  &.syntax--header {
    color: @syntax-color-class;
  }
  &.syntax--format {
    &.syntax--strike {
      text-decoration: line-through;
    }
    &.syntax--bold {
      font-weight: bold;
    }
    &.syntax--italic {
      font-style: italic;
    }
    &.syntax--math {
      color: @syntax-color-function;
    }
    &.syntax--raw {
      color: @syntax-color-snippet;
    }
  }
  &.syntax--high {
    &.syntax--tick { color: @text-color-info }
    &.syntax--text { color: @text-color-info }
  }
  &.syntax--todo {
    &.syntax--tick { color: @text-color-info }
    &.syntax--text { }
  }
  &.syntax--done {
    &.syntax--tick { color: @text-color-success }
    &.syntax--text { color: @text-color-subtle }
  }
  &.syntax--fail {
    &.syntax--tick { color: @text-color-error }
    &.syntax--text { color: @text-color-subtle }
  }
}
